

.section__cours {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
}

.carte {
    //border : 1px solid #aaa;
    padding : 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex : 1 0 calc(1010px/4);
    background-color: hsl(var(--hu1),var(--s-couleur-arriere),  75%);
}

.carte *{
    text-align: center;
}
.carte .post-categories {
    list-style-type: none;
    display: flex;
}